@import url(./normalize.css);
@import url(./UI.css);

$fontSize: 16px;
$ffOswald: "Oswald", sans-serif;
$ffMontserrat: "Montserrat", sans-serif;
$colorBlue: #0e1636;
$colorTitle: #1c379b;
// Mixin fucntion
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
// End Mixin Function

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
  font-family: $ffMontserrat;
  font-weight: 400;
  @include fontSize(16px);
  color: $colorBlue;
}

#wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}
#middle {
  -webkit-box-flex: 1;
  flex: 1 0 auto;
}

#footer {
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Header
.header {
  .header-top {
    border-bottom: 1px solid #f6f6f6;

    .header-line {
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-logo {
        margin-right: 70px;
        height: 52px;
        img {
          max-height: 100%;
          max-width: 230px;
        }
      }
      //  надо ли задавать класс ul>li или обращаться к ним через родителя?
      .header-top-menu {
        flex: 1 0 auto;
        ul li {
          display: inline-block;
          margin-right: 40px;
          @include fontSize(14px);
          font-weight: 500;
          a {
            padding: 0px 5px;
            transition: 0.3s ease;
          }
        }
      }

      .header-top-number {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        .row {
          justify-content: flex-end;
        }
        &-h5 {
          transition: 0.3s ease;
        }
        .header-top-group > * {
          display: inline-block;
          vertical-align: top;
        }
        .header-top-group {
          position: relative;
          white-space: nowrap;
          margin-left: 35px;
          padding-left: 14px;
          text-align: end;
          .header-top-img {
            height: 21px;
            position: absolute;
            height: 21px;
            transform: translate(-50%, -50%);
            top: 11px;
            left: 0px;
            img {
              max-height: 21px;
              transition: 0.2s ease;
            }
            img:hover {
              border: 1px solid #ffffff00;
            }
          }
          .viber {
            left: 28px;
          }
          .header-top-h5 {
            text-transform: uppercase;
            font-weight: 500;
            // margin-left: 14px;
          }
          span {
            display: block;
            text-align: end;
            font-size: 0.75rem;
            margin-left: 14px;
            a {
              color: #1c379b;
              text-decoration: underline;
              transition: 0.5s ease;
            }
            :hover {
              color: #435cb4;
              text-decoration: none;
            }
          }
        }
      }
      .header-menu-toggle {
        display: none;
        height: 3px;
        flex: 0 0 30px;
        max-width: 30px;
        background-color: #1c379b;
        position: relative;
      }
      .header-menu-toggle::after {
        position: absolute;
        top: 10px;
        content: "";
        height: 3px;
        width: 30px;
        background: #1c379b;
      }
      .header-menu-toggle::before {
        position: absolute;
        top: -10px;
        content: "";
        height: 3px;
        width: 30px;
        background: #1c379b;
      }
    }
  }
  .header-menu {
    overflow: auto;
    .nav-menu {
      .flex-ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      a {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding: 24px 10px;
        font-family: $ffMontserrat;
        font-weight: 600;
        text-transform: uppercase;
        transition: 0.5s ease;
        z-index: 1;
      }

      a::before,
      a::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transform-origin: center;
      }
      a::before {
        border-top: 0.2em solid #000;
        border-bottom: 0.2em solid #000;
        transform: scale3d(0, 1, 1);
      }

      a::after {
        border-left: 0.2em solid #000;
        border-right: 0.2em solid #000;
        transform: scale3d(1, 0, 1);
      }

      a:hover::before,
      a:hover::after {
        transform: scale3d(1, 1, 1);
        transition: transform 900ms;
      }

      // --------------WOW HOVER EFFECT!
      // a:before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   border-top: 1px solid black;
      //   border-bottom: 1px solid #000;
      //   transform: scaleY(2);
      //   opacity: 0;
      //   transition: 0.3s;
      // }
      // a:after {
      //   content: "";
      //   position: absolute;
      //   top: 2px;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   background-color: #262626;
      //   transform: scale(0);
      //   opacity: 0;
      //   transition: 0.3s;
      //   z-index: -1;
      // }
      // a:hover {
      //   color: #fff;
      //   &:before {
      //     transform: scaleY(1);
      //     opacity: 1;
      //   }
      //   &:after {
      //     transform: scaleY(1);
      //     opacity: 1;
      //   }
      // }
    }
  }
}
// End Header
// Main
.middle {
  // index.html
  .main-content {
    display: flex;
    align-items: center;
    background-image: url(../images/bgc/main.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 100px;
    margin-bottom: 183px;

    &-h1 {
      flex: 0 0 45%;
      max-width: 45%;
      margin-bottom: 36px;
      text-transform: uppercase;
    }
    &-p {
      margin-bottom: 40px;
    }
    &-a {
      display: inline-block;
      padding: 24px 64px;
      font-family: $ffMontserrat;
      @include fontSize(18px);
      font-weight: 700;
      border: none;
      background-color: #1c379b;
      color: #ffffff;
      transition: 0.5s ease;
    }
    a:hover {
      background-color: #0a1c5e;
    }
  }
  .main-categories {
    margin-bottom: 190px;
    &-h2 {
      text-align: center;
      text-transform: uppercase;
      margin-left: 120px;
      margin-right: 120px;
      margin-bottom: 80px;
      span {
        color: $colorTitle;
      }
    }
    .main-categories-list {
      font-size: 0;
      letter-spacing: 0;
      text-align: center;

      .main-categories-item {
        display: inline-block;
        text-align: center;
        width: 100%;
        max-height: 100%;
        padding: 25px;
        transition: 0.5s ease;
        border: 1px solid rgba(255, 255, 255, 0);

        :hover {
          color: #1c379b;
        }
        .main-categories-img {
          height: 100px;
          margin-bottom: 10px;
          img {
            max-height: 100%;
          }
        }

        .main-categories-h4 {
          padding: 0px 10px;
          text-transform: uppercase;
        }
      }
      .main-categories-item:hover {
        border: 1px solid #e5e5e5;
        .main-categories.h4 {
          color: #1c379b;
        }
      }
    }
  }
  .main-manufacturs {
    min-height: 482px;
    display: flex;
    align-items: center;
    background-image: url(../images/bgc/main-manufacters.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 183px;

    &-h2 {
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 60px;
    }
    &-sponsor {
      font-size: 0;

      .sponsor-img {
        display: inline-block;
        position: relative;
        text-align: center;
        padding: 0px 20px;
        width: 100%;
        height: 80px;

        img {
          max-height: 100%;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          transition: 0.5s ease;
        }

        img:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }
    }
  }
  .main-slider {
    margin-bottom: 180px;
    .slider-title {
      margin-bottom: 85px;
      &-h2 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 25px;
        span {
          color: $colorTitle;
        }
      }
      &-p {
        text-align: center;
      }
    }
    .slider-row {
      display: flex;
      justify-content: center;
      .slider-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .slider-nav-link {
        font-family: $ffOswald;
        font-weight: 400;
        @include fontSize(24px);
        color: #1c379b;
        opacity: 30%;
        text-transform: uppercase;
        padding: 15px 0px;
        padding-left: 65px;
        border-left: 2px solid;
      }
      .slider-nav-link:hover {
        opacity: 100%;
      }
    }
    .slider-position {
      position: relative;
    }
    .arrow {
      position: absolute;
      top: -5%;
      right: 5%;
      z-index: 1;
      .prev-arrow {
        @include fontSize(35px);
        color: #ffffff;
        background-color: #1c379b;
        height: 58px;
        width: 59px;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
      }
    }
  }
  .main-object {
    min-height: 804px;
    display: flex;
    align-items: center;
    background-image: url(../images/bgc/work.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 183px;
    &-h2 {
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      margin-bottom: 65px;
    }
    .main-object-catalog {
      width: 100%;
      font-size: 0px;
      .object-catalog-list {
        margin-bottom: 80px;

        .catalog-list-img {
          position: relative;
          background-color: #ffffff;
          height: 114px;
          width: 114px;
          margin: 0 auto;
          text-align: center;
          margin-bottom: 20px;
          img {
            position: absolute;
            max-height: 100%;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
          }
        }
        .catalog-list-h4 {
          color: #ffffff;
          text-transform: uppercase;
          text-align: center;
        }
      }
    }
  }
  .main-services {
    margin-bottom: 180px;
    &-title {
      margin-bottom: 85px;
      .main-services-h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
        span {
          color: $colorTitle;
        }
      }
      .main-services-p {
        text-align: center;
        color: $colorBlue;
        @include fontSize(18px);
        padding-right: 25px;
      }
    }

    .services-card-group {
      &-img {
        height: 315px;
        img {
          max-height: 315px;
        }
      }
      .servisec-card-description {
        // margin-left: 25px;
        .card-description-h4,
        .card-description-h3,
        .card-description-p {
          text-align: left;
          margin-bottom: 10px;
        }
        .card-description-h4 {
          color: #1c379b;
        }
        .card-description-p {
          line-height: 25.6px;
        }
      }
    }
    .services-card-object {
      .object-right {
        position: relative;
        height: 3px;
        background: #eff2ff;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 3px;
          height: 80px;
          background: #eff2ff;
        }
      }
      .object-left {
        position: relative;
        height: 3px;
        background: #eff2ff;
        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 3px;
          height: 80px;
          background: #eff2ff;
        }
      }
    }
  }
  .main-form {
    min-height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../images/bgc/bid.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &-left {
      height: 900px;
      flex: 0 0 50%;
      max-width: 50%;
    }
    &-right {
      padding-top: 120px;
      padding-bottom: 120px;
      flex: 0 0 50%;
      max-width: 50%;
      display: flex;
      align-items: center;
      background-color: #091d67c0;
      .main-form-container {
        width: 545px;
        margin: 0 auto;
        div {
          color: #ffffff;
        }
        .main-form-h2 {
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
        .main-form-p {
          text-align: center;
          line-height: 25px;
          vertical-align: middle;
          margin-bottom: 50px;
        }
        .form-input {
          width: 100%;
          border: none;
          outline: none;
          background: transparent;
          border-bottom: 2px solid #ffffff;
          caret-color: #ffffff;
          color: #ffffff;
          padding: 0px 0px 5px 10px;
          margin-bottom: 50px;
        }
        ::placeholder {
          color: #ffffff;
        }
        .form-btn-group {
          margin-bottom: 55px;
          .btn-group-add {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 45px;

            .btn-group-button {
              height: 26px;
              width: 26px;
              border: 2px solid #ffffff;
              background: transparent;
              margin-right: 20px;
              vertical-align: middle;
            }
            :hover {
              .cross {
                width: 10px;
              }
              .cross:after {
                height: 10px;
              }
            }
            input[type="file"] {
              display: none;
            }
            .custom-file-upload {
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
              height: 26px;
              width: 26px;
              display: inline-block;
              cursor: pointer;
              opacity: 0;
            }
            .cross {
              background: #ffffff;
              height: 2px;
              width: 14px;
              position: relative;
              margin: 0 auto;
            }
            .cross:after {
              content: "";
              height: 14px;
              width: 2px;
              background: #ffffff;
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
            }

            .btn-group-p {
              display: inline-block;
            }
          }
          textarea {
            display: none;
            width: 100%;
            height: 188px;
            resize: none;
            border: 2px solid #ffffff;
            color: #ffffff;
            background: transparent;
            font-family: $ffOswald;
            @include fontSize(18px);
            line-height: 30px;
            padding: 10px;
          }
          textarea:focus,
          input:focus {
            outline: 0;
          }
        }
        .main-form-submit {
          position: relative;
          width: 100%;
          height: 70px;
          border: none;
          margin-bottom: 40px;
          @include fontSize(18px);
          font-weight: 700;
          color: #1c379b;
          transition: 0.5s ease;
        }
        .main-form-submit:hover {
          background: #1c379b;
          color: #ffffff;
          border: 1px solid #ffffff;
        }

        .form-checkbox {
          [type="checkbox"],
          [type="radio"] {
            width: 26px;
            height: 26px;
            vertical-align: middle;
            margin-right: 20px;
          }
          span {
            @include fontSize(14px);
            color: #ffffff;
            font-weight: 500;
            font-style: normal;
            font-family: $ffMontserrat;
            vertical-align: middle;
          }
        }
      }
    }
  }
  // gallery.html
  .gallery-photo {
    min-height: 252px;
    display: flex;
    align-items: center;
    background-image: url(../images/bgc/main-manufacters.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 183px;
    &-h1 {
      text-align: center;
      color: #ffffff;
    }
  }
  .gallery-catalog {
    margin-bottom: 120px;
    .catalog-window {
      margin-bottom: 144px;

      &-h2 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 47px;
      }
      .catalog-card {
        position: relative;
        height: 250px;
        max-height: 100%;
        margin-bottom: 30px;
        text-align: center;
        cursor: pointer;
        &:hover {
          .catalog-text {
            opacity: 0.8;
            transition: 0.3s;
          }
        }
        .catalog-text {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 31px 0px;
          color: #ffffff;
          text-align: center;
          background: #091d67;
          opacity: 0;
          transition: 0.5s;
        }
      }
      .catalog-mr {
        margin: 0 auto;
      }
      &-btn {
        display: block;
        text-align: center;
        padding: 24px;
        border: 2px solid #1c379b;
        @include fontSize(18px);
        font-weight: 700;
        color: #1c379b;
        transition: 0.5s ease;
        i {
          margin-left: 20px;
        }
        &:hover {
          color: #ffffff;
          background: #1c379b;
        }
      }
    }
  }
  .gallery-timework {
    background: #1c379b;
    padding: 120px 0px;
    &-txt {
      text-align: center;
      margin-bottom: 50px;
      .gallery-timework-h2 {
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 25px;
      }
      .gallery-timework-p {
        color: #ffffff;
      }
    }
    &-group {
      width: 800px;
      margin: 0 auto;
      text-align: center;
      :last-child .col-4:last-child .timework-group-item::after{
       content: "";
      }
      .timework-group-item {
        position: relative;
        &:after {
          content: "\f054";
          position: absolute;
          top: 30%;
          left: 100%;

          @include fontSize(25px);
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: #ffffff;
        }

        .timework-group-img {
          display: inline-block;
          height: 126px;
          img {
            max-height: 100%;
          }
        }
        .group-img-h4 {
          text-transform: uppercase;
          color: #ffffff;
        }
      }
      i {
        color: #ffffff;
        @include fontSize(20px);
        
      }

      
    }
  }
  
  // prof-system.html
  .prof-manufacturs {
    min-height: 482px;
    display: flex;
    align-items: center;
    margin-bottom: 93px;
    &-h2 {
      color: #000;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 60px;
      span {
        color: $colorTitle;
      }
    }
  }
  .prof-categories {
    padding-top: 116px;
    padding-bottom: 148px;
    background: #f8f9ff;
    &-h2 {
      text-align: center;
      text-transform: uppercase;
      margin-left: 120px;
      margin-right: 120px;
      margin-bottom: 80px;
      span {
        color: $colorTitle;
      }
    }
    .prof-categories-list {
      font-size: 0;
      letter-spacing: 0;
      text-align: center;
      .main-categories-item {
        display: inline-block;
        text-align: center;
        width: 100%;
        max-height: 100%;
        padding: 25px;
        transition: 0.5s ease;
        border: 1px solid rgba(255, 255, 255, 0);

        :hover {
          color: #1c379b;
        }
        .main-categories-img {
          height: 100px;
          margin-bottom: 10px;
          img {
            max-height: 100%;
          }
        }
        .main-categories-h4 {
          padding: 0px 10px;
          text-transform: uppercase;
        }
      }
      .main-categories-item:hover {
        border: 1px solid #e5e5e5;
        .main-categories.h4 {
          color: #1c379b;
        }
      }
    }
  }
  // contact.html
  .contact-prev {
    margin-bottom: 160px;
    .contact-group {
      margin-bottom: 55px;
      font-family: $ffOswald;
      color: $colorBlue;
      .contact-h4 {
        text-transform: uppercase;
      }
      .contact-social {
        margin-top: 23px;
        a {
          margin-right: 15px;
        }
      }
    }
    .contact-img {
      height: 310px;
      img {
        max-height: 100%;
      }
    }
  }
  // Services.html
  .services-title {
    min-height: 800px;
    width: 100%;
    display: flex;
    // align-items: center;
    background-image: url(../images/bgc/service-bcg.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
    &-left {
      padding-bottom: 140px;
      flex: 0 0 60%;
      max-width: 60%;;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #091d67d2;
      .services-title-box {
        width: 70%;
        margin: 0 auto;
        .gallery-photo-breadcrumbs {
          text-align: left;
          margin-bottom: 45px;
        }
        .services-title-txt {
          .services-title-h1 {
            text-transform: uppercase;
            color: #ffffff;
            margin-bottom: 50px;
          }
          .services-title-p {
            line-height: 26px;
            color: #ffffff;
            margin-bottom: 25px;
          }
          .services-title-btn {
            color: #1c379b;
            @include fontSize(18px);
            font-weight: 700;
            padding: 24px 28px;
            background: #ffffff;
            border: 1px solid transparent;
            transition: 0.3s ease;
            margin-top: 80px;
            &:hover {
              background: #1c379b;
              color: #ffffff;
              border: 1px solid #ffffff;
            }
          }
        }
      }
    }
    &-right {
      height: 100%;
      flex: 0 0 40%;
      max-width: 40%;
    }
  }
  .services-items {
    margin-bottom: 150px;
    &-h2 {
      text-align: center;
      text-transform: uppercase;
      // margin-bottom: 64px;
      margin: 0px 80px 64px;
      span {
        color: $colorTitle;
      }
    }
    .services-items-catalog {
      .services-cards {
        display: block;
        border: 1px solid #1c389b1a;
        text-align: center;
        padding: 70px 0px;
        margin-bottom: 30px;

        &:hover {
          .services-cards-img {
            transform: scale(1.1);
          }
        }
        &-img {
          height: 220px;
          margin-bottom: 40px;
          transition: 0.5s ease;
          img {
            max-height: 100%;
          }
        }

        &-p {
          margin-bottom: 5px;
        }
        &-h4 {
          margin-bottom: 3px;
          text-transform: uppercase;
          span {
            color: #435cb4;
          }
        }
      }
    }
  }
  .service-timework {
    background-image: url(../images/bgc/work.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
  }
  .services-window {
    margin-bottom: 150px;
    &-h2 {
      text-align: center;
      text-transform: uppercase;
      span {
        color: $colorTitle;
      }
    }
    &-block {
      .window-block-description {
        line-height: 25.6px;
        margin-bottom: 50px;
        &-h3 {
          margin-bottom: 20px;
        }
        .window-block-links {
          margin-top: 30px;
        }

        .window-block-links a {
          display: inline-block;

          padding: 4px 14px 4px 14px;
          background: #eff2ff;
          color: #1c379b;
          font-weight: 500;

          margin-bottom: 10px;
          margin-right: 10px;
          border: 1px solid transparent;
        }

        .window-block-links a:hover {
          border: 1px solid #1c379b;
        }
      }
      .window-block-img {
        text-align: end;
      }
      .left {
        text-align: start;
      }
    }
    &-btn {
      text-align: center;
      margin-top: 115px;
      a {
        margin-right: 30px;
      }
    }
  }
  .services-ways {
    background-color: #f8f9ff;
    padding: 120px 60px;
    margin-bottom: 140px;
    .services-ways-txt {
      .ways-txt-h2 {
        text-transform: uppercase;
      }
      div {
        margin-bottom: 25px;
        padding-right: 20px;
      }
    }
    .services-ways-img {
      height: 220px;
      text-align: center;
      img {
        max-height: 100%;
      }
    }
  }
  .services-setting {
    .services-setting-card {
      
      margin-bottom: 30px;
      display: inline-block;
      position: relative;
      .setting-card-title {
        position: absolute;
        @include fontSize(16px);
        color: #ffffff;
        font-weight: 600;
        padding: 18px 29px;
        background-color: #1c379b;
      }
      .setting-card-text {
        position: absolute;
        padding: 50px;
        top: 15%;
        @include fontSize(16px);
        line-height: 25.6px;
        color: #ffffff;
        opacity: 0;
        transition: 0.5s ease;
        &:hover {
          opacity: 1;
        }
      }
      
    }
    &-h2 {
      margin-bottom: 60px;
      text-align: center;
      text-transform: uppercase;
      span{
        color:$colorTitle;
      }
    }
  }
  .services-slider {
    background-color: #F8F9FF;
padding: 120px 50px;
    .slider-title-p {
      line-height: 25,6px;
      padding: 0 25%;
    }
  }
  .services-color {
    &-title {
      margin-bottom: 100px;
      text-align: center;
      .services-color-h2 {
        text-transform: uppercase;
        margin-bottom: 30px;
        span {
          color: $colorTitle;
        }
      }
      .services-color-p {
        padding: 0px 32%;
      }
    }
    .services-color-card {
      line-height: 26px;
      margin-bottom: 30px;
      .services-color-h4 {
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      .services-color-group {
        margin-top: 20px;
        .color-group-pick {
          display: inline-block;
          padding: 15px;
          opacity: 0.25;
          transition: 0.4s ease;
          margin-right: 10px;
          &:hover {
            opacity: 1;
          }
        }
        .red {
          background-color: #fc3d49;
        }
        .yellow {
          background-color: #ffcf55;
        }
        .green {
          background-color: #13b236;
        }
        .blue {
          background-color: #3d67fc;
        }
      }
    }
  }
}
// End Main
// Footer
.footer {
  width: 100%;
  background-color: #0b194e;

  .footer-menu {
    margin-top: 70px;
    margin-bottom: 60px;
    .col-footer-contact {
      padding-right: 30px;
      .footer-contact-logo {
        min-height: 40px;
        margin-bottom: 40px;
        img {
          height: 40px;
        }
      }
      .contact-link {
        position: relative;
        padding-left: 42px;
        min-height: 32px;
        line-height: 32px;
        margin-bottom: 7px;
        img {
          position: absolute;
          width: 32px;
          height: 32px;
          top: 0;
          left: 0;
        }
        a {
          color: #ffffff;
        }
      }
    }
    .col-footer-menu {
      padding-right: 30px;
      a {
        color: #ffffff;
      }
      a:hover {
        color: #dfd2d2;
      }
      ul {
        margin-bottom: 40px;

        li {
          display: inline-block;
          color: #ffffff;
          text-transform: uppercase;
          font-family: $ffOswald;
          font-weight: 300;
          padding: 10px 50px 10px 0px;
        }
      }

      .footer-menu-p {
        color: #ffffff4b;
        @include fontSize(13px);
        line-height: 16px;
        margin-bottom: 45px;
      }
      .footer-menu-social {
        img {
          margin-right: 12px;
        }
      }
    }
    .col-footer-list {
      ul {
        width: 100%;
        padding-top: 10px;
        margin-bottom: 50px;
        li {
          display: inline-block;
          width: 32%;
          margin-bottom: 18px;
          padding-right: 20px;
          white-space: nowrap;
          a {
            @include fontSize(14px);
            color: #ffffff;
          }
          a:hover {
            color: #dfd2d2;
          }
        }
      }
      .footer-list-p {
        color: #ffffff56;
        @include fontSize(13px);
        text-align: end;
      }
    }
  }
  .footer-logo {
    margin: 0 auto;
    border-top: 1px solid #ffffff34;
    padding-top: 20px;
    &-p {
      text-align: center;
      color: #ffffff;
      vertical-align: middle;
      img {
        padding: 0px 20px 20px 20px;
        vertical-align: middle;
      }
    }
  }
}
// End Footer

// @MIEDIA QUERY

@media (max-width: 3000px) {
  // Header
  // End Header

  // Main
  // End Main

  //Footer
  // End Footer
}

@media (max-width: 1330px) {
  .h4 {
    font-size: 1.3rem;
  }
  // Header
  // End Header

  // Main
  // main-content
  // main-categories
  // main-manufacturs
  // main-slider
  .middle .main-slider .arrow {
    right: 0%;
  }
  // main-object
  // main-services
  // main-form
  // Service.html 
  .middle .services-setting .services-setting-card .setting-card-text {
   padding: 0px;
    padding-left: 30px;
    padding-top: 30px;
  }
  // End Main

  //Footer
  // End Footer
}

@media (max-width: 1170px) {
  .container {
    max-width: 1070px;
  }
  // Header

  .header .header-top .header-line .header-top-menu ul li {
    margin-right: 15px;
  }
  .header .header-top .header-line .logo {
    margin-right: 30px;
  }
  .header .header-top .header-line-logo {
    margin-right: 40px;
  }
  .header .header-top .header-line .header-top-group .h5 {
    @include fontSize(18px);
  }
  .header .header-top .header-line .header-top-number .header-top-group {
    margin-left: 0;
    padding-left: 0;
  }
  .header
    .header-top
    .header-line
    .header-top-number
    .header-top-group
    .header-top-img {
    display: none;
  }
  // End Header

  // Main
  // main-content
  // main-categories
  // main-manufacturs
  // main-slider
  // main-object
  // main-services
  // main-form
  .middle .main-form-left {
    display: none;
  }
  .middle .main-form-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
  // Services.html 
  .middle .services-setting .services-setting-card .setting-card-text {
    padding: 0px;
     padding-left: 30px;
     padding-top: 10px;
     line-height: 21px;
   }
  // End Main

  //Footer
  .col-footer-list {
    margin-top: 30px;
    text-align: center;
  }
  // End Footer
}
@media (max-width: 992px) {
  .container {
    max-width: 890px;
  }
  .h1 {
    font-size: 3.75rem;
  }
  .h2 {
    font-size: 2.075rem;
  }
  .h3 {
    font-size: 1.55rem;
  }
  .h4 {
    font-size: 1rem;
  }

  // Header
  .header .header-top .header-line .header-top-number .row {
    justify-content: start;

  }
  .header .header-top .header-line {
    justify-content: space-between;
  }
  .header-top-menu {
    display: none;
  }
  .header-top-number {
    margin-right: 30px;
  }
  .header .header-top .header-line-logo {
    margin-right: 20px;
  }
  .header .header-top .header-line .header-menu-toggle {
    display: inline-block;
  }
  .header-menu {
    display: none;
  }
  .header
    .header-top
    .header-line
    .header-top-number
    .header-top-group
    .header-top-img {
    display: inline-block;
  }
  .header .header-top .header-line .header-top-number .header-top-group {
    margin-left: 35px;
    padding-left: 14px;
  }

  // End Header

  // Main
  // main-content
  .middle .main-content {
    padding-bottom: 130px;
  }
  .middle .main-content .h1 {
    width: 80%;
  }
  .middle .main-content a {
    padding: 22px 56px;
  }
  // main-categories
  // main-manufacturs
  // main-slider
  // main-object
  // main-services
  .middle .main-services .services-card-object .object-right,
  .middle .main-services .services-card-object .object-left {
    display: none;
  }
  // main-form

  //Contact.html
  .contact-img {
    display: none;
  }
  //Services.html 
  .middle .services-title-left {
    flex: 0 0 100%;
  }
  .middle .services-ways .services-ways-img {
    margin-top: 50px;
  }

  .services-setting-box {
    display: flex;
    justify-content: center;
  }
   .middle .services-setting .services-setting-card .setting-card-text {
    padding: 50px;
     line-height: 26.5px;
   }
   .middle .services-slider .slider-title-p {
     padding: 0 20%;
   }
   .middle .services-color-title .services-color-p {
    padding: 0px 22%;
   }
  // End Main

  //Footer
  // End Footer
}
@media (max-width: 840px) {
  // Header
  .header
    .header-top
    .header-line
    .header-top-number
    .header-top-group
    .header-top-img {
    display: none;
  }
  .header .header-top .header-line .header-top-number .header-top-group {
    margin: 0px 5px;
    padding-left: 0;
  }
  .header-top-group.mail {
    display: none;
  }
  // End Header

  // Main
  // main-categories
  // main-manufacturs
  // main-slider
  // main-object
  // main-services
  // main-form
  // End Main
  // Gallery.html
  .middle .gallery-timework-group i {
    margin: 0 60px;
  }
  .middle .gallery-timework-group {
    width: 100%;
  }
  //Footer
  // End Footer
}
@media (max-width: 768px) {
  .container {
    max-width: 670px;
  }
  // Header
  .header .header-top .header-line .header-top-number .header-top-group span {
    display: none;
  }
  .header .header-top .header-line .header-top-number .row {
    justify-content: space-around;
  }
  // End Header

  // Main
  // main-content
  .middle .main-content {
    padding-bottom: 110px;
  }
  .middle .main-content-h1 {
    width: 100%;
  }
  .middle .main-content a {
    padding: 18px 52px;
  }
  // main-categories
  .middle .main-categories-h2 {
    font-size: 2.375rem;
    margin-right: 0;
    margin-left: 0;
  }
  // main-manufacturs
  // main-slider
  .middle .main-slider .slider-row {
    display: none;
  }
  .middle .main-slider .arrow .prev-arrow {
    @include fontSize(30px);
    height: 50px;
    width: 51px;
  }
  // main-object
  // main-services
  // main-form
  .middle .main-form-right .main-form-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .middle .main-form-right {
  }
  //Services.html 
  .services-title-h1 {
    font-size: 2.75rem;
  }
  .middle .services-title-left .services-title-box {
    width: 100%;
  }
  .middle .services-window-block .window-block-img {
    display: none;
  }
  .middle .services-window-btn {
    margin-top: 0;
  }
  .middle .services-slider .slider-title-p {
    padding: 0 10%;
  }
  .middle .services-color-title .services-color-p {
    padding: 0px 12%;
   }
   .services-color-img {
     display: none;
   }
  // End Main
  // Gallery
  .middle .gallery-timework-group i {
    margin: 0 40px;
  }
  //Footer
  // End Footer
}
@media (max-width: 576px) {
  .container {
    max-width: 470px;
  }
  // Header
  // End Header

  // Main
  // prof-system.html 
  .middle .prof-categories-h2 {
    margin: 0;
  }
  // main-content
  .main-content {
    text-align: center;
  }
  .middle .main-content {
    padding-bottom: 100px;
  }
  .middle .main-content-h1 {
    width: 100%;
    font-size: 3.3rem;
  }
  .middle .main-content a {
    padding: 18px 52px;
  }
  // main-categories
  // main-manufacturs
  .middle .main-manufacturs-h2 {
    font-size: 2.375rem;
  }
  // main-slider
  .middle .main-slider .arrow .prev-arrow {
    @include fontSize(28px);
    height: 45px;
    width: 46px;
  }
  // main-object
  // main-services
  .services-card-img {
    display: none;
  }
  // main-form
  .middle .main-form-right .main-form-container .main-form-h2 {
    font-size: 2.5rem;
  }
  // Services.html 
  .middle .gallery-timework-group .timework-group-item .group-img-h4 {
    font-size: 1.1rem;
  }
 
.middle .gallery-timework-group .timework-group-item:after {
  display: none;
}
  .header-top-group.phone {
    display: none;
  }
  .header .header-top .header-line-logo {
    margin: 0px;
  }
  .header .header-top .header-line .header-top-number {
    display: none;
  }
  .middle .services-setting .services-setting-card .setting-card-text {
    padding: 0px;
     padding-left: 30px;
     padding-top: 10px;
     line-height: 18px;
   }
   .middle .services-setting .services-setting-card .setting-card-title {
    padding: 10px 10px;
   }
   .middle .services-slider .slider-title-p {
    padding: 0;
  }
  .middle .services-color-title .services-color-p {
    padding: 0;
   }
  // Gallery.html
  .middle .gallery-timework-group i {
    display: none;
  }
  .middle .gallery-photo-h1
  // End Main
  
  //Footer
  .footer .footer-menu .col-footer-contact {
    margin-bottom: 30px;
  }
  .footer .footer-menu .col-footer-menu ul {
    margin-bottom: 10px;
  }
  .footer .footer-menu .col-footer-list ul li {
    width: 45%;
  }
  .footer .footer-menu .col-footer-menu .footer-menu-p {
    margin-bottom: 10px;
  }
  .col-footer-list {
    text-align: left;
  }

  // End Footer
}
@media (max-width: 400px) {
  .container {
    max-width: 100%;
  }
  .h2 {
    font-size: 1.575rem;
  }
  .h3 {
    font-size: 1.05rem;
  }
  // Header
  .middle .main-content-h1 {
    font-size: 2.5rem;
  }
  // End Header

  // Main

  // main-categories
  // main-manufacturs
  .middle .main-manufacturs-h2 {
    margin-bottom: 0;
    font-size: 1.775rem;
  }
  // main-slider
  // main-object
  // main-services
  // main-form

  // Services.html 
  .middle .services-items-h2 {
    margin: 0px 0px 60px;
  }
  .middle .services-ways .services-ways-txt .ways-txt-h2 {
    font-size: 2.275rem;
  }
  .middle .services-setting .services-setting-card .setting-card-text {
    @include fontSize(14px);
   }
  //  Gallery.html 
  .middle .gallery-photo-h1 {
    font-size: 3.35rem;
  }
  // End Main

  //Footer
  // End Footer


  // UI.css 
  .ui-btn-blue {
    width: 250px;
  }
  .ui-btn-white {
    width: 250px;
  }
}
